.product-container {
  height: 300px;
  border: 1px solid rgb(231, 231, 231);
  max-width: 220px;
  min-width: 180px;
  margin: auto;
  margin-bottom: 10px;
  background: white;
  border-radius: 3px;
  transition: all 0.2s;
  cursor: pointer;
}
.product-container:hover {
  transform: scale(1.05);
}
.product-image {
  width: 80%;
}
