.errorpage{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error-container{
    background: var(--backdrop-background);
    backdrop-filter: blur(10px);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.err-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.err-icon{
    margin-right: 5px;
}